* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(196, 102, 0, 0.6)), to(rgba(155, 89, 182, 0.6)));
  background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register {
  width: 400px;
  position: relative;
}

.register fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  /*stacking fieldsets above each other*/
  position: relative;
}

.register fieldset .input_wrap {
  position: relative;
}

.register fieldset .input_wrap input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #2c3e50;
  font-size: 13px;
}

.register fieldset .input_wrap span {
  display: block;
  height: 12px;
  font-size: 12px;
  color: red;
}

.register fieldset .input_wrap span.pass {
  color: green;
}

.register fieldset .input_wrap .codeBtn {
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  width: 150px;
  padding: 2px;
  border: 1px solid #000;
  border-radius: 4px;
  -webkit-box-shadow: inset -2px -2px 3px #787878;
          box-shadow: inset -2px -2px 3px #787878;
}

.register fieldset .input_wrap .codeBtn:hover {
  -webkit-box-shadow: inset 0px -1px 0px #ccc;
          box-shadow: inset 0px -1px 0px #ccc;
}

.register fieldset .input_wrap span.wait {
  position: absolute;
}

.register fieldset .input_wrap span.checked {
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
  line-height: 20px;
  width: 40px;
}

.register fieldset .input_wrap span.checked::before {
  content: 'V';
  color: green;
}

.register fieldset .input_wrap span.pw_btn_hidden {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(./hidden_pw.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 42px;
  height: 30px;
}

.register fieldset .input_wrap span.pw_btn_show {
  background-image: url(./show_pw.png);
}

.register fieldset .input_wrap .submit {
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  width: 100px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  -webkit-box-shadow: inset -2px -2px 3px #787878;
          box-shadow: inset -2px -2px 3px #787878;
}

.register fieldset .input_wrap .submit:hover {
  -webkit-box-shadow: inset 0px -1px 0px #ccc;
          box-shadow: inset 0px -1px 0px #ccc;
}

.register .shake {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*# sourceMappingURL=register.css.map */