.register {
  max-width: 750px;
  margin: 0 auto;
  position: relative;
}
.register .login-toggle {
  text-align: center;
  font-size: 0.32rem;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.register .login-toggle h3 {
  font-size: 0.32rem;
  display: inline-block;
}
.register .login-toggle i {
  display: inline-block;
  width: 0.2rem;
  height: 0.09rem;
  background-image: url("~@/assets/images/register/dropdown_icon.png");
  background-size: 100% 100%;
  position: absolute;
  right: -0.25rem;
  top: 50%;
  transform: rotateZ(-180deg);
  transition: all 0.3s ease-in-out;
}
.register .login-toggle.active i {
  transform: rotateZ(0deg);
}
.register .login-toggle-menu {
  font-size: 0.26rem;
  color: #252525;
  background-image: url("~@/assets/images/register/dropdown_box.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2.02rem;
  height: 1.92rem;
  box-sizing: border-box;
  position: fixed;
  z-index: 999;
  /* right: 2.4rem; */
  transform: translateX(3.03rem);
  top: 0.7rem;
  padding: 0.3rem 0.4rem;
  text-align: center;
}
.register .login-toggle-menu h4:first-child {
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
}

.register .content {
  margin: 0 0.4rem;
}
.register .content .banner img {
  width: 100%;
}
.register .submit-box {
  text-align: center;
}
.register .submit-btn {
  outline: none;
  border: none;
  text-align: center;
  margin: 0.4rem auto 0.6rem;
  width: 3.26rem;
  height: 0.71rem;
  font-size: 0.31rem;
  line-height: 0.71rem;
  background-color: #007aff;
  color: #fff;
  border-radius: 0.55rem;
}
.register .agreement {
  font-size: 0.24rem;
  text-align: center;
}
.register .agreement .checkbox-text {
  color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.2rem;
}
.register .agreement .checkbox-text i {
  display: inline-block;
  margin-right: 0.1rem;
  width: 0.29rem;
  height: 0.29rem;
  background-image: url(~@/assets/images/register/unchecked.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.register .agreement .checkbox-text i.checked {
  background-image: url(~@/assets/images/register/checked.png);
}
.register .agreement .agreement-links {
  color: #1e85ff;
}
.register .contact-cs {
  text-align: center;
  color: #888888;
  font-size: 0.24rem;
  padding-bottom: 0.5rem;
}
.register .contact-cs a {
  color: #1e85ff;
}

/* Quit Popup */
.quit-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  display: grid;
  place-items: center;
}

.quit-popup-container .quit-popup-content {
  width: 6.4rem;
  height: 5.2rem;
  background-color: #fff;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.quit-popup-container .quit-popup-content img {
  width: 1.53rem;
  height: 1.53rem;
}
.quit-popup-container .quit-popup-content p {
  font-size: 0.35rem;
  text-align: center;
}

.quit-popup-container .quit-popup-content .btns-box {
  display: flex;
  align-items: center;
}
.quit-popup-container .quit-popup-content .btns-box span {
  display: inline-block;
  width: 2.68rem;
  height: 0.79rem;
  line-height: 0.79rem;
  text-align: center;
  border-radius: 0.62rem;
  color: #fff;
  font-size: 0.31rem;
  font-family: PingFang SC Medium;
}
.quit-popup-container .quit-popup-content .btns-box .quit {
  background-color: #bfbfbf;
  margin-right: 0.26rem;
}
.quit-popup-container .quit-popup-content .btns-box .continue {
  background-color: #ff6a1a;
}

/* Register Success */
.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-section img {
  width: 1.95rem;
  height: 1.95rem;
}
.header-section p {
  color: #222222;
  font-size: 0.28rem;
  font-family: PingFang SC Medium;
}
.header-section .account-info {
  margin-top: 0.1rem;
}
.header-section .account-info p {
  color: #b8b8b8;
  display: flex;
  align-items: center;
}
.header-section .account-info p span {
  color: #222222;
  font-size: 0.28rem;
  font-family: PingFang SC Medium;
  margin-left: 0.15rem;
}
.header-section .account-info i {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0.26rem;
  width: 0.26rem;
  margin-right: 0.1rem;
}
.header-section .account-info i.acc-icon {
  background-image: url(~@/assets/images/register/account-icon.png);
}
.header-section .account-info i.pw-icon {
  background-image: url(~@/assets/images/register/password-icon.png);
}
.header-section .reminder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.48rem;
  width: 4.72rem;
  margin: 0.4rem auto;
}
.header-section .reminder img {
  display: inline-block;
  width: 0.22rem;
  height: 0.26rem;
  margin-right: 0.1rem;
}
.header-section .reminder {
  background-color: #fff5f0;
  border-radius: 0.37rem;
}
.header-section .spacer {
  margin: 0.2rem;
}

.banner-section img {
  margin: 0 auto 0.4rem;
  width: 6.26rem;
  height: 1.72rem;
  position: relative;
  z-index: 2;
}
.footer-section .web-content .web-bg {
  position: absolute;
  width: 100%;
  height: 4.96rem;
  left: 0;
  transform: translateY(-1.3rem);
}
.footer-section .web-content .app-download img {
  width: 1.35rem;
  height: 1.32rem;
  margin: 0.5rem auto 0;
}
.footer-section .web-content .app-download p {
  text-align: center;
}
.footer-section .web-content .dl-btn {
  width: 2.69rem;
  height: 0.83rem;
  line-height: 0.83rem;
  text-align: center;
  margin: 0.6rem auto;
  border-radius: 0.2rem;
  background-color: #fe6a1a;
  color: #fff;
  font-size: 0.31rem;
}
.footer-section .app-content .footer-header {
  margin-top: 0.1rem;
  font-size: 0.28rem;
  color: #ffc09e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.footer-section .app-content .footer-header .line {
  display: block;
  width: 0.7rem;
  height: 0.03rem;
  background-color: #ffc09e;
}
.footer-section .app-content .footer-header p {
  margin: 0 0.2rem 0.2rem;
}

.footer-section .app-content .steps {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-section .app-content .step {
  width: 1.4rem;
}
.footer-section .app-content .arrow-next {
  width: 0.36rem;
  margin: 0 0.25rem;
}
.footer-section .app-content .steps img {
  width: 100%;
}
.footer-section .app-content .steps p {
  font-weight: bold;
  color: #FFC09E;
  font-size: 0.29rem;
  text-align: center;
  margin-top: 0.1rem;
}

/* Register Fail */
.content .heading-text {
  font-size: 0.5rem;
  font-family: PingFang SC Medium;
  margin-top: 0.7rem;
  margin-bottom: 0.35rem;
}
.content .supp-text {
  font-size: 0.28rem;
  font-family: PingFang SC Medium;
  color: #b8b8b8;
  margin-bottom: 0.85rem;
}
.content .cs-btn {
  width: 2.69rem;
  height: 0.83rem;
  line-height: 0.83rem;
  text-align: center;
  background-color: #fe6a1a;
  color: #fff;
  border-radius: 0.2rem;
  font-size: 0.31rem;
  font-weight: bold;
}
